<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>
                [%d{dd-MMM-yyyy HH:mm:ss}] %red([%p]) %blue([%t %c{15}:%L]) * [%m]%n
            </pattern>
        </encoder>
    </appender>

    <appender name="file"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- File is relative to the project root directory -->
        <file>logs/app.applog</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                [%d{dd-MMM-yyyy HH:mm:ss}] [%p] [%t %c{15}:%L] * [%m]%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>logs/archived/app_%d{dd-MMM-yyyy}_%i.applog
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="file-error"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- File is relative to the project root directory -->
        <file>logs/app_error.applog</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                [%d{dd-MMM-yyyy HH:mm:ss}] [%p] [%t %c{15}:%L] * [%m]%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>logs/archived/app_error_%d{dd-MMM-yyyy}_%i.applog
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- Base logging configuration -->
    <root level="debug">
        <appender-ref ref="stdout"/>
    </root>

    <!-- Send info logs only to file -->
    <logger name="com.kp.first" level="debug"
            additivity="false">
        <appender-ref ref="file"/>
    </logger>

    <!-- Send error logs to different file -->
    <logger name="com.kp.first" level="error"
            additivity="false">
        <appender-ref ref="file-error"/>
    </logger>
</configuration>
